In [1]:
import pandas as pd

### merge state names on population

In [47]:
abbr = pd.read_csv('data/state-abbrevs.csv')
pop = pd.read_csv('data/state-population.csv')

abbr = abbr.set_index('abbreviation', drop=True)
pop = pop.set_index('state/region', drop=True)

pop = pop.join(abbr)
pop = pop.dropna()
pop = pop.astype({'population': int})
pop = pop.reset_index(drop=True)

pop.to_csv('data/state-population-merged.csv', header=False)

In [55]:
vals = pop['state'].unique()
vals = list(vals)
vals_ = sorted(vals, key=lambda s: len(s.split()))

In [58]:
len(vals_[-1])

20

In [127]:
cities = pd.read_csv('data/uscities.csv', usecols=['city_ascii', 'state_name', 'county_name', 'population'])

In [128]:
states = cities[['state_name', 'population']].groupby('state_name').sum().reset_index().reset_index()
states = states.rename({'index': 'state_id'}, axis=1)

In [129]:
agg = {
    'population': 'sum',
    'state_name': 'first'
}

counties = cities[['county_name', 'state_name', 'population']].groupby('county_name').agg(agg).reset_index()
counties = pd.merge(counties, states[['state_name', 'state_id']], on='state_name').drop('state_name', axis=1)

In [130]:
cities = pd.merge(cities, states[['state_name', 'state_id']], on='state_name')
cities = cities.drop(['state_name', 'county_name'], axis=1)

In [131]:
cities.to_csv('data/cities.csv')
states.to_csv('data/states.csv')
counties.to_csv('data/counties.csv')

In [132]:
counties

     county_name  population  state_id
0      Abbeville        9703        41
1          Aiken       84154        41
2      Allendale        5168        41
3       Anderson      221781        41
4        Bamberg        6978        41
...          ...         ...       ...
1901       Kauai       68963        11
1902        Maui      160523        11
1903  New Castle      265575         7
1904     Newport       39063        40
1905  Providence     1579853        40

[1906 rows x 3 columns]